// === Definitions ================================

$focus-frame-color1: #00008088; // orange
$focus-frame-color2: #ffa50088; // navy


$dl-as-table-dt-width: 6em;

// main page:
$mobile-main-txt-color: black;
$mobile-main-link-color: #333;
$mobile-main-bg-color: white;

// mobile header:
$mobile-header-txt-size:  6vw;
$mobile-header-height:    11vw;
$mobile-header-txt-color: #ddd;
$mobile-header-bg-color:  #444;

$mobile-page-font-size:   4.5vw;
$mobile-nav-bg-color:     #003;
$mobile-nav-txt-color:    #eee;
$mobile-nav-title-color:  #333;
$mobile-nav-title-bg-color: #ddd;
$mobile-nav-txt-size:     4.5vw;

// mobile footer:
$mobile-footer-height:    8vw;
$mobile-footer-txt-color: #ddd;
$mobile-footer-font-size: 4vw;

// mobile nav:
$mobile-nav-width:        66vw;

$yPadding: 0.4rem;

$grid-gap: 10px;
$box-width: 300px;

$min-font-size: 15;
$max-font-size: 24;

// use: @include _pfy-button;
@mixin _pfy-button {
  color: #666;
  font-family: helvetica, arial, sans-serif;
  border-radius: 4px;
  border: 1px solid #bcbcbc;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  background: -webkit-linear-gradient(#FFF 0%, #EFEFEF 60%, #E1DFE2 100%);
  background: -ms-linear-gradient(#FFF 0%, #EFEFEF 60%, #E1DFE2 100%);
  background: linear-gradient(#FFF 0%, #EFEFEF 60%, #E1DFE2 100%);
  padding: 0.3em 1.5em;
}

// --- accessible: visually hidden:
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// use: @include _focus;
@mixin _focus {
  box-shadow:
    0 0 0 1px white,
    0 0 0 2px var(--pfy-focus-frame-color2, #{$focus-frame-color2}),
    inset 0 0 0 1px var(--pfy-focus-frame-color1, #{$focus-frame-color1}) !important;
}


@mixin _scroll-hints {
  background: linear-gradient(var(--pfy-page-bg-color, white) 15px, hsla(0,0%,100%,0)) 0 0 / 100% 50px,
  radial-gradient(at top, var(--pfy-hint-shadow-color, rgba(0,0,0,.4)), transparent 70%) 0 0 / 100% 15px,
  linear-gradient(to top, var(--pfy-page-bg-color, white) 15px, hsla(0,0%,100%,0)) bottom / 100% 50px,
  radial-gradient(at bottom, var(--pfy-hint-shadow-color, rgba(0,0,0,.4)), transparent 70%) bottom / 100% 15px;
  background-repeat: no-repeat;
  background-attachment: local, scroll, local, scroll;
}


@mixin  _striped($baseColH,$baseColS) {
    background: repeating-linear-gradient(
        -45deg,
        hsl($baseColH, $baseColS, 97%),
        hsl($baseColH, $baseColS, 97%) 10px,
        hsl($baseColH, $baseColS, 95%) 10px,
        hsl($baseColH, $baseColS, 95%) 20px
    );
}
