// === Definitions ================================

$focus-color1: #00008088; // orange
$focus-color2: #ffa50088; // navy


$dl-as-table-dt-width: 6em;

// main page:
$mobile-main-txt-color: black;
$mobile-main-link-color: darkgray;
$mobile-main-bg-color: white;

// mobile header:
$mobile-header-font-size: 6vw;
$mobile-header-height:    11vw;
$mobile-header-txt-color: #ddd;
$mobile-header-bg-color:  #444;

$mobile-page-font-size:   4.5vw;
$mobile-nav-bg-color:     #222;
$mobile-nav-txt-color:     #ddd;
$mobile-nav-title-color:  #333;
$mobile-nav-title-bg-color: #ddd;
$mobile-nav-txt-size:     4.5vw;

// mobile footer:
$mobile-footer-height:    8vw;
$mobile-footer-txt-color: #ddd;
$mobile-footer-font-size: 4vw;

// mobile nav:
$mobile-nav-width:       66vw;

$yPadding: 0.4rem;

$grid-gap: 10px;
$box-width: 300px;

$min-font-size: 15;
$max-font-size: 24;

// use: @include _pfy-button;
@mixin _pfy-button {
  color: #666;
  font-family: helvetica, arial, sans-serif;
  border-radius: 4px;
  border: 1px solid #bcbcbc;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  background: -webkit-linear-gradient(#FFF 0%, #EFEFEF 60%, #E1DFE2 100%);
  background: -ms-linear-gradient(#FFF 0%, #EFEFEF 60%, #E1DFE2 100%);
  background: linear-gradient(#FFF 0%, #EFEFEF 60%, #E1DFE2 100%);
  padding: 0.3em 1.5em;
}

// --- accessible: visually hidden:
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// use: @include _focus;
@mixin _focus {
  box-shadow:
    0 0 0 1px white,
    0 0 0 2px var(--pfy-focus-color2, #{$focus-color2}),
    inset 0 0 0 1px var(--pfy-focus-color, #{$focus-color1}) !important;
}
