

#pfy.pfy-default-styling .pfy-gallery,
.pfy-default-styling .pfy-gallery {

  a {
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
  }
} // pfy-gallery

.pfy-default-styling #baguetteBox-overlay .full-image img {
  max-height: 93vh;
  max-height: -webkit-fill-available;
  max-width: 100vw;
}
