// === Page Switcher Links

.pfy-default-styling {
  .pfy-page-switcher-wrapper.pfy-show-as-text {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin: 1em 0;
  }

  .pfy-page-switcher-wrapper.pfy-show-as-arrows {
    .pfy-page-switcher-links a {
      position: absolute;
      top: 0;
      border-bottom: none;
      z-index: 10000;
      opacity: 0.4;
      color: black;
      display: block;
      //font-size: 2rem;
      height: 3rem;
      line-height: 3rem;
    }
    .pfy-prev-page-title,
    .pfy-next-page-title {
      display: none;
    }
    .pfy-page-switcher-links a:focus,
    .pfy-page-switcher-links a:hover {
      opacity: 1;
    }

    .pfy-previous-page-link a {
      padding-right: 0.5rem;
      left: 0;
    }

    .pfy-next-page-link a {
      padding-left: 0.5rem;
      right: 0;
    }

    .pfy-page-switcher-links a::before {
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      width: 2rem;
      height: 3rem;
    }

    .pfy-previous-page-link a::before {
      left: 0;
    }
    .pfy-next-page-link a::before {
      right: 0;
    }

    .pfy-page-switcher-links a:focus::before,
    .pfy-page-switcher-links a:hover::before {
      background: rgba(169, 227, 255, 0.75);
    }

    .pfy-page-switcher-arrow {
      font-size: 16pt;
      vertical-align: top;
    }
  }
} // .pfy-default-styling
