/* === Reveal block ================== */
#pfy .pfy-encapsulated.pfy-default-styling,
.pfy-default-styling {
  .pfy-reveal-controller label,
  input.pfy-reveal-icon,
  input.pfy-reveal-icon::before{
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    padding: 0;
    color: inherit;
  }
  input.pfy-reveal-icon.pfy-reveal-icon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    background-color: transparent;
    position: relative;
    font-size: inherit;
    width: 2em;
    border: 0;
    cursor: pointer;
    outline: none;
    box-shadow: none;
  }

  input.pfy-reveal-icon:focus-visible {
    outline: 1px solid magenta;
  }
  input.pfy-reveal-icon::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    text-align: center;
    margin: 0;
    content: '+';
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    transition: transform 0.3s;
    transform-origin: 50% 50%;
  }
  input.pfy-reveal-icon:checked::before {
    transform: rotate( 180deg );
    content: '–';
  }
  .pfy-reveal-controller label {
    width: calc(100% - 2em - 6px);
    margin-left: -0.1em;
    cursor: pointer;
  }
  .pfy-reveal-frame.pfy-reveal-frame {
    border: 1px solid #ddd;
  }
  .pfy-reveal-frame + .pfy-reveal-container > div {
    padding: 1em;
    border: 1px solid #ddd;
    border-top: none;
  }
  .pfy-reveal-container {
    overflow: hidden;
    &.pfy-elem-revealed {
      transition: margin-bottom 0.3s;
      > div {
        margin-top: 0 !important;
        transition: margin-top 0.3s;
      }
    }
    > div {
      margin-top: -10000px;
    }
  }

  .pfy-reveal-controller {
    padding: 0.5em 0;
    &:focus-within {
      outline: 1px solid var( --pfy-form-focus-color, magenta);
    }
    input:focus-visible {
      outline: unset !important;
    }
  }
  .pfy-reveal-triangle {
    input.pfy-reveal-icon {
      margin-right: 0.4em;
      font-size: 90%;
      transform: translateY( 0.2em );
    }
    input.pfy-reveal-icon::before {
      content: '\25B7';
    }
    input.pfy-reveal-icon:checked::before {
      content: '\25B7';
    }

  }
}


