// Sample styles - remove or modify as you like

.pfy-page {
	padding: 2em;
}
.pfy-nav-horizontal {
	display: flex;
	justify-content: flex-end;
}
#pfy .pfy-nav-horizontal li.pfy-lvl-1:last-child > div {
    right: 0;
    left: unset !important;
    text-align: right;
}

.pfy-footer {
	margin-top: 3em;
	border-top: 1px solid #ccc;
	padding-top: 1em;
	display: flex;
	justify-content: space-between;
}

.pfy-site-title {
	float: left;
	padding-top:      calc( (var(--pfy-nav-elem-height, 2em) - 1.2em) / 2);
	padding-bottom:   calc( (var(--pfy-nav-elem-height, 2em) - 1.2em) / 2);
	font-size:        var(--pfy-nav-txt-size,  12pt);
}
