// Sample styles - remove or modify as desired

.pfy-page {
	padding: 2em;
}
.pfy-primary-nav {
	display: flex;
	justify-content: flex-end;
}
.pfy-footer {
	margin-top: 3em;
	border-top: 1px solid #ccc;
	padding-top: 1em;
	display: flex;
	justify-content: space-between;
}

