/* PageFactory Core CSS
CSS-Variables:
	--pfy-focus-frame-color1:
	--pfy-focus-frame-color2:
    --pfy-lang-icon-size
*/

@import '../_scss-variables.scss';

/* === Extended Resets =============================== */
body {
  position: absolute;
  inset: 0;
	min-width: 100vw;
	min-height: 100vh;
	min-height: 100dvh;
}

section {
	position: relative;
	padding: 0;
}
* {
	box-sizing: border-box;
}


// ======= Default Styling =========================
//#pfy.pfy-default-styling .pfy-encapsulated,
.pfy-default-styling {

  // --- generic rules:
  .pfy-dispno,
  .dispno,
  .disp-no,
  .disp_no {
      display: none!important;
  }
  .dispblock {
      display: block;
  }

  :focus {
      outline: none;
  }
  :focus-visible {
    @include _focus;
  }

  .pfy-invisible,
  .sr-only,
  .visually-hidden {
    &:not(:focus):not(:active) {
      @include visually-hidden;
    }
  }

  .pfy-disabled {
      filter: contrast(50%);
      opacity: 0.7;
  }

  .pfy-no-decoration {
      text-decoration: none;
      border-bottom: none;
  }

  .pfy-fully-hidden {
    @include visually-hidden;
  }

} // pfy-default-styling


// === Screen-Size ==========================
//#pfy.pfy-default-styling.pfy-large-screen .pfy-encapsulated,
.pfy-default-styling.pfy-large-screen {
    .pfy-small-screen-only {
        display: none;
    }
} // pfy-large-screen
