// === Page Switcher Links

#pfy .pfy-encapsulated.pfy-default-styling,
.pfy-default-styling {
  .pfy-page-switcher-wrapper {
    > div {
      display: inline-block;
    }
    .pfy-previous-page-link {
      margin-right: 0.6em;
    }
    .pfy-next-page-link {
      margin-left: 0.6em;
    }

    &.pfy-show-as-arrows-and-text {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      margin: 1em 0;
      > div {
        display: inline-block;
      }
    }

    &.pfy-show-as-top-arrows {
      .pfy-page-switcher-links a {
        position: absolute;
        top: 0;
        border-bottom: none;
        z-index: 10000;
        opacity: 0.4;
        color: black;
        display: block;
        //font-size: 2rem;
        height: 3rem;
        line-height: 3rem;
      }
      .pfy-page-switcher-link-text {
        display: none;
      }
      .pfy-page-switcher-links a:focus,
      .pfy-page-switcher-links a:hover {
        opacity: 1;
        .pfy-page-switcher-link-text {
          display: inline-block;
        }
      }

      .pfy-previous-page-link a {
        padding-right: 0.5rem;
        left: 0;
      }

      .pfy-next-page-link a {
        padding-left: 0.5rem;
        right: 0;
      }

      .pfy-page-switcher-links a::before {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 2rem;
        height: 3rem;
      }

      .pfy-previous-page-link a::before {
        left: 0;
      }
      .pfy-next-page-link a::before {
        right: 0;
      }

      .pfy-page-switcher-links a:focus::before,
      .pfy-page-switcher-links a:hover::before {
        background: rgba(169, 227, 255, 0.75);
      }

      .pfy-page-switcher-arrow {
        font-size: 16pt;
        vertical-align: top;
      }
    }
  } // pfy-page-switcher-wrapper

} // .pfy-default-styling
