/* PageFactory Core CSS
CSS-Variables:
	--pfy-focus-color:
    --pfy-lang-icon-size
*/

@import '../_scss-variables.scss';

/* === Extended Resets =============================== */
html {
	height: fill-available;
}
body {
	min-width: 100vw;
	min-height: 100vh;
	min-height: fill-available;
}

html, body, section {
	position: relative;
	padding: 0;
}
* {
	box-sizing: border-box;
}



// ======= Default Styling =========================
#pfy.pfy-default-styling .pfy-encapsulated,
.pfy-default-styling {

    // --- generic rules:
    .pfy-dispno,
    .dispno,
    .disp-no,
    .disp_no {
        display: none!important;
    }
    .dispblock {
        display: block;
    }
    .sr-only,
    .pfy-invisible,
    .invisible,
    .visually-hidden {
        position: absolute !important;
        right: 10000px;
        width: 1px;
        height: 1px;
        overflow: hidden;
        display: inline;
        clip: rect(1px, 1px, 1px, 1px);
    }
    .pfy-disabled {
        filter: contrast(50%);
        opacity: 0.7;
    }

    .pfy-no-decoration {
        text-decoration: none;
        border-bottom: none;
    }




    // === visible on focus only:
    .pfy-focus-only-visible {
        display: none;
        color: transparent;
        background: transparent;
        position: absolute;
        right: -1000vw;
    }
    a:hover > .pfy-focus-only-visible,
    a:focus > .pfy-focus-only-visible {
        display: inline-block;
        color: black;
        position: relative;
        right: unset;
    }



} // pfy-default-styling



// === Screen-Size ==========================
#pfy.pfy-default-styling.pfy-large-screen .pfy-encapsulated,
.pfy-default-styling.pfy-large-screen {
    .pfy-small-screen-only {
        display: none;
    }
} // pfy-large-screen
