/* PageFactory Core CSS
CSS-Variables:
	--lzy-focus-color:
    --lzy-lang-icon-size
*/

@import '--definitions.scss';

/* === Extended Resets =============================== */
html {
	height: -webkit-fill-available;
}
body {
	min-width: 100vw;
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html, body, section {
	position: relative;
	padding: 0;
}
* {
	box-sizing: border-box;
}



// ======= Default Styling =========================
#lzy.lzy-default-styling .lzy-encapsulated,
.lzy-default-styling {

    // --- generic rules:
    .lzy-dispno,
    .dispno,
    .disp-no,
    .disp_no {
        display: none!important;
    }
    .dispblock {
        display: block;
    }
    .sr-only,
    .lzy-invisible,
    .invisible,
    .visually-hidden {
        position: absolute !important;
        right: 10000px;
        width: 1px;
        height: 1px;
        overflow: hidden;
        display: inline;
        clip: rect(1px, 1px, 1px, 1px);
    }
    .lzy-disabled {
        filter: contrast(50%);
        opacity: 0.7;
    }

    .lzy-no-decoration {
        text-decoration: none;
        border-bottom: none;
    }




    // === visible on focus only:
    .lzy-focus-only-visible {
        display: none;
        color: transparent;
        background: transparent;
        position: absolute;
        right: -1000vw;
    }
    a:hover > .lzy-focus-only-visible,
    a:focus > .lzy-focus-only-visible {
        display: inline-block;
        color: black;
        position: relative;
        right: unset;
    }



} // lzy-default-styling



// === Screen-Size ==========================
#lzy.lzy-default-styling.lzy-large-screen .lzy-encapsulated,
.lzy-default-styling.lzy-large-screen {
    .lzy-small-screen-only {
        display: none;
    }
} // lzy-large-screen
