/*
 * styles for mobile view
 *
 * CSS Variables:
 *    --pfy-mobile-main-bg-color
 *
 *  nav:
 *    --pfy-mobile-nav-txt-size
 *    --pfy-mobile-nav-bg-color
 *    --pfy-mobile-nav-txt-color
 *    --pfy-mobile-nav-title-color
 *    --pfy-mobile-nav-title-bg-color
 *  header:
 *    --pfy-mobile-header-height
 *    --pfy-mobile-header-txt-color
 *    --pfy-mobile-header-bg-color
 *    --pfy-mobile-header-txt-size
 *  footer:
 *    --pfy-mobile-footer-height
 *    --pfy-mobile-footer-txt-color
 *    --pfy-mobile-footer-bg-color
 *    --pfy-mobile-footer-txt-size
 */

 @import '../_scss-variables.scss';

$mobile-main-bg-color:    var(--pfy-mobile-main-bg-color, #{$mobile-main-bg-color});
$mobile-body-height:      calc(100vh - var(--pfy-mobile-header-height, #{$mobile-header-height}));

$mobile-header-height:    var(--pfy-mobile-header-height, #{$mobile-header-height});
$mobile-header-txt-size:  var(--pfy-mobile-header-txt-size, #{$mobile-header-txt-size});

$mobile-header-txt-color: var(--pfy-mobile-header-txt-color, #{$mobile-header-txt-color});
$mobile-header-bg-color:  var(--pfy-mobile-header-bg-color, #{$mobile-header-bg-color});

$mobile-nav-txt-color:    var(--pfy-mobile-nav-txt-color, #{$mobile-nav-txt-color});
$mobile-nav-bg-color:     var(--pfy-mobile-nav-bg-color, #{$mobile-nav-bg-color});



// === Small/Mobile Screen:
#pfy.pfy-default-styling.pfy-small-screen .pfy-encapsulated,
#pfy.pfy-default-styling.pfy-small-screen {

  h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    line-height: 1em;
  }

  .pfy-page {
     position: fixed;
     inset: $mobile-header-height 0 0 0;
     padding: 0;
     margin: 0;
     height: $mobile-body-height;
  }

  .pfy-main-wrapper {
    position: absolute;
    inset: 0;
    transition: left 0.3s;
    height: $mobile-body-height;
    width: 100vw;
    overflow-y: auto;
    padding: 1rem 1rem 8rem;
    background: $mobile-main-bg-color;
  } // pfy-main-wrapper

  .pfy-main {
    height: max-content;
  }


  .pfy-small-screen-header {
    position: fixed;
    display: block;
    top: 0; right: 0; left: 0;
    z-index: 9;
    height: $mobile-header-height;
    color: $mobile-header-txt-color;
    background: $mobile-header-bg-color;

    h1 {
      font-size: $mobile-header-txt-size;
      text-align: center;
      margin: 0 $mobile-header-height;
      padding: 0;
      height: $mobile-header-height;
      line-height: $mobile-header-height;
    }
    #pfy-nav-menu-icon {
      font-size: $mobile-header-txt-size;
      border: none;
      background: none;
    }
    svg {
      position: absolute;
      width: unset;
      top:    calc(#{$mobile-header-height} * 0.15);
      height: calc(#{$mobile-header-height} * 0.6);
      left:   calc(#{$mobile-header-height} * 0.15);
      cursor: pointer;
      color: $mobile-header-txt-color;
    }

  } // .pfy-small-screen-header

  .pfy-nav-outer-wrapper {
    position: absolute;
    inset: 0;
    overflow-y: auto;
    height: $mobile-body-height;
    width: $mobile-nav-width;
    background: $mobile-nav-bg-color;
    padding: 1em 0.5em 5em 0;
    &, a, a:visited, a:focus {
      color: $mobile-nav-txt-color;
    }
  } // .pfy-nav-outer-wrapper

  &.pfy-nav-mobile-open {
    .pfy-main-wrapper {
      left: $mobile-nav-width;
      transition: left 0.3s;
    }
  }


  // class 'pfy-auto-tabulator' enables automatic adaption of tabulators to small screen:
  &.pfy-auto-tabulator,
  .pfy-auto-tabulator {
    .mdp-tabulator-wrapper {
      > div {
        display: block;
        margin-bottom: 0.3rem;
        margin-left: 2rem;
        width: calc(100% - 2rem);
      }

      .tt1 {
        font-weight: var(--tt1-weight-vertical-view, bold);
        color: var(--tt1-color-vertical-view, inherit);
        margin-left: 0;
      }
      &:not(:first-child) .tt1 {
        margin-top: 0.8em;
      }
    }
  } // .pfy-auto-tabulator


} // .pfy-small-screen



#pfy.pfy-default-styling.pfy-small-screen .pfy-encapsulated,
#pfy.pfy-default-styling.pfy-small-screen {

  .pfy-large-screen-only {
    display: none;
  }
}

#pfy.pfy-default-styling.pfy-large-screen .pfy-encapsulated,
#pfy.pfy-default-styling.pfy-large-screen {

  .pfy-small-screen-only {
    display: none;
  }
}

