/* === Misc Styles (loaded asynchronously) =========== */
/*
 * Variables:
 *  --pfy-icon-size
 *  --pfy-icon-angle
 */

#pfy.pfy-default-styling .pfy-encapsulated,
.pfy-default-styling {


    /* --- menu icon ------------------ */
    .pfy-menu-icon {
        width: 2em;
        height: 2em;
        vertical-align: middle;
    }


    /* --- pre ------------------------ */
    pre {
        padding: 5px 10px;
        background: #f3f5e3;
        outline: 1px solid #aaa;
    }
    code {
        font-size: 90%;
        font-family: "Input", "Menlo", monospace;
        color: black;
    }



    // --- Login ------------------------------
    a.pfy-login-button {
        border-bottom: none;
    }
    .pfy-login-button {
        display: inline-block;
        position: relative;
        background: none;
        border: none;
        padding: 0;
        width: 1.2em;
        height: 1.2em;
        margin-left: 0.5em;
        svg {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1.2em;
            transform: translateY(-0.3em);
        }
    }

    .pfy-login-form .pfy-form-show-password input {
        display: none;
    }

    .pfy-account-form-wrapper .pfy-delete-profile-popup {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 20em;
        height: 10em;
        background: #ffe2c4;
        border: 1px solid gray;
        border-radius: 10px;
        z-index: 999;
    }



  // credit to Lea Verou
  .pfy-scroll-hints {
    background: linear-gradient(white 15px, hsla(0,0%,100%,0)) 0 0 / 100% 50px,
    radial-gradient(at top, rgba(0,0,0,.4), transparent 70%) 0 0 / 100% 15px,
    linear-gradient(to top, white 15px, hsla(0,0%,100%,0)) bottom / 100% 50px,
    radial-gradient(at bottom, rgba(0,0,0,.4), transparent 70%) bottom / 100% 15px;
    background-repeat: no-repeat;
    background-attachment: local, scroll, local, scroll;
  }




    /* --- Laguage Selection -------- */
    .pfy-lang-elem {
        position: relative;
        display: inline-block;
        padding: 0 0.1em;
    }
    .pfy-lang-flag .pfy-lang-elem {
        height: 1em;
        width: 1.4em;
        &.pfy-active-lang > * {
            border: 2px solid gray;
            border-radius: 50%;
        }
        &.de > * {
            background-image: url("../../../pagefactory/icons/de.png");
        }
        &.en > * {
            background-image: url("../../../pagefactory/icons/en.png");
        }
        &.fr > * {
            background-image: url("../../../pagefactory/icons/fr.png");
        }
        &.it > * {
            background-image: url("../../../pagefactory/icons/it.png");
        }
        > * {
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.2em 1.2em;
            height: 1.4em;
            width: 1.4em;
        }
        &.pfy-lang-elem > * {
            color: transparent;
        }
        a {
            border-bottom: none;
        }
    }

    .pfy-lang-selection a {
        border-bottom: none;
    }




    // DB
    .pfy-record-locked, .pfy-locked {
        background: #dceeee;
        background: repeating-linear-gradient(-55deg, #eeffff, #eeffff 10px, #edf8f8 10px, #edf8f8 15px);
        cursor: not-allowed;
    }

    .pfy-locked {
        outline: 1px solid red;
    }

    .pfy-record-locked {
        outline: 1px dashed red;
    }


    #pfy .pfy-element-locked,
    #pfy .pfy-editable.pfy-element-locked {
        background: #dceeee;
        background: repeating-linear-gradient(-55deg, #eeffff, #eeffff 10px, #edf8f8 10px, #edf8f8 15px);
        cursor: not-allowed !important;
    }

    .pfy-element-locked *,
    .pfy-editable.pfy-element-locked * {
        cursor: not-allowed !important;
    }

    .pfy-element-frozen,
    .pfy-editable.pfy-element-frozen {
        background: #eee;
        cursor: not-allowed;
    }

    .pfy-inactive {
        color: #888;
    }

    .pfy-login-menu .pfy-popup-container {
        padding: 1.5em 1em;

        li::before {
            content: "\2192 ";
        }
    }


    // === Images ==========
    a.pfy-img-link.pfy-img-link {
        display: inline-block;
        padding: 0;
    }

    .pfy-img-link::before {
        display: none;
    }

    .pfy-img {
        max-width: 100%;
    }

    .pfy-figure {
        margin: 0;
    }



    // === Tooltipster
    //.pfy-tooltip {
    //    border-bottom: 1px dashed #ddd;
    //}
    //
    //.pfy-tooltip:hover {
    //    border-bottom: 1px solid black;
    //}


    // === Timeout / freezeWindowAfter
    .pfy-timedout {
        cursor: pointer;
    }





    //=== Icons ====================
    .pfy-link-icon,
    .pfy-icon {
        position: relative;
        display: inline-block;
        width: 1em;
        height: 0.8em; // not to overshoot rest of line
        transform: translateY(0.12em);
        > * {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 1em;
            height: 1em;
        }
    }

    // list of icons, i.e. output of ListIcons():
    .pfy-icon-row.pfy-icon-row {
        display: inline-block;
        margin-right: 2em;

        span {
            display: inline-block;
        }

        .pfy-icon-label {
            width: 12em;
        }

        .pfy-icon {
            color: red;
        }

        .pfy-icon-sample {
            color: #bbb;
        }
    }

} // pfy-default-styling





/* === Unite Gallery ==================*/
/* bug workaround */
.pfy-gallery.ug-gallery-wrapper {
    height: unset !important;
}
.ug-tiles-preloader {
    display: none !important;
}
.pfy-album-error {
    background: #fee;
    border: 1px solid red;
    padding: 1em 2em;
}


