$grid-gap: 10px;
$box-width: 300px;


#pfy.pfy-default-styling .pfy-encapsulated,
.pfy-default-styling {

    .pfy-h-space {
        display: inline-block;
    }


    .pfy-h-v-centered, .h-v-centered,
    .pfy-v-h-centered, .v-h-centered {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* stretch-wrapping boxes: */
    .pfy-stretch-wrapping-box-container {
        //--pfy-box-width: 300px;
        //--pfy-grid-gap: 10px;
        display: grid;
        grid-gap: var(--pfy-grid-gap, $grid-gap);
        grid-template-columns: repeat(auto-fill, minmax(var(--pfy-box-width, $box-width), 1fr));
        grid-auto-flow: dense;
        padding: 5px;
        padding: var(--pfy-grid-gap, $grid-gap);
    }

    .pfy-stretch-wrapping-box-container > div {
        overflow: hidden;
    }

    .pfy-stretch-wrapping-box-container > div img {
        width: 100%;
        height: auto;
        margin-bottom: -5px; /* ??? bug workaround? */
    }

} // pfy-default-styling
