/*
 * styles for mobile view
 */

 @import '../_scss-variables.scss';


// === Small/Mobile Screen:
#pfy.pfy-default-styling.pfy-small-screen .pfy-encapsulated,
.pfy-default-styling.pfy-small-screen {
  font-family: Verdana, sans-serif;
//    background: $mobile-nav-bg-color;
//    background: var(--pfy-mobile-nav-bg-color, $mobile-nav-bg-color);

    .pfy-small-screen-header {
        display: block !important;
        background: $mobile-header-bg-color;
        color: $mobile-header-txt-color;
        width: 100%;
        margin: 0;
        height: $mobile-header-height;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        h1 {
            font-size: $mobile-header-font-size;
            text-align: center;
            margin: 0 $mobile-header-height;
            padding: 0;
            height: $mobile-header-height;
            line-height: $mobile-header-height;
        }
        #pfy-nav-menu-icon {
            border: none;
            background: none;
        }
        svg {
            position: absolute;
            top: calc(#{$mobile-header-height} * 0.15);
            left: calc(#{$mobile-header-height} * 0.15);
            height: calc(#{$mobile-header-height} * 0.6);
            cursor: pointer;
            path {
                fill: whitesmoke;
            }
        }
    }

    .pfy-page {
        padding: 0;
        position: absolute;
        top: var(--pfy-mobile-header-height, #{$mobile-header-height});
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        height: calc(100vh - var(--pfy-mobile-header-height, #{$mobile-header-height}));
        width: 100vw;
    }

    .pfy-main {
        padding: 10px;
        z-index: 2;
// box-shadow: 0 0 1em orange;
    }

    &.pfy-nav-mobile-open .pfy-main {
        left: $mobile-nav-width;
        transition: left 0.3s;
    }

    .pfy-primary-nav {
        font-size: 1vw;
        width: $mobile-nav-width;
        padding: 1em;
        * {
            color: $mobile-nav-txt-color;
            color: var(--pfy-mobile-nav-txt-color, $mobile-nav-txt-color);
        }
        .pfy-curr > a {
            border-left: 3px solid red;
        }
    }
/*
    .pfy-page-switcher-links a {
        font-size: var(--pfy-mobile-header-font-size, 8vw);
        color: #ddd;
        top: 0.5em;
    }

    .pfy-prev-page-link a {
        right: 1.2em;
        left: initial;
    }
*/

    .pfy-large-screen-footer {
        display: none;
    }

    .pfy-main,
    .pfy-header {
        position: fixed;
        top: #{$mobile-header-height};
        top: var(--pfy-mobile-header-height, #{$mobile-header-height});
        //overflow-y: auto;
        padding-bottom: 15vh;
    }

    .pfy-main {
        left: 0;
        width: 100vw;
        height: 100%;
        height: calc(100vh - var(--pfy-mobile-header-height, #{$mobile-header-height}) - var(--pfy-mobile-footer-height, #{$mobile-footer-height}));
        background: var(--pfy-mobile-bg-color, $mobile-main-bg-color);
        color: var(--pfy-mobile-txt-color, $mobile-main-txt-color);
        padding-bottom: 20vh;
        transition: left 0.3s;
        overflow-y: auto;
        z-index: 1;

        a, a:visited {
            color: var(--pfy-mobile-link-color, $mobile-main-link-color);
        }
    }

    .pfy-section {
        padding: 0 0.6rem;
    }

    .pfy-nav-title {
        color: #{$mobile-nav-title-color};
        color: var(--pfy-mobile-nav-title-color, #{$mobile-nav-title-color});
        background: #{$mobile-nav-title-bg-color};
        background: var(--pfy-mobile-nav-title-bg-color, #{$mobile-nav-title-bg-color});
        line-height: 2.5em;
        margin: 0;
    }

    .pfy-mobile-page-header {
        color: #{$mobile-header-txt-color};
        color: var(--pfy-mobile-header-txt-color, #{$mobile-header-txt-color});
        background: #{$mobile-nav-bg-color};
        background: var(--pfy-mobile-header-bg-color, #{$mobile-header-bg-color});
    }

    .pfy-header {
        display: none;
    }

    .pfy-footer {
        position: fixed;
        left: 0;
        width: 100vw;
        bottom: 0;
        color: var(--pfy-mobile-footer-txt-color, #000);
        background: #{$mobile-header-bg-color};
        background: var(--pfy-mobile-footer-bg-color, var(--pfy-mobile-header-bg-color, #{$mobile-header-bg-color}));
        padding: 2px 0.5rem 2px 1rem;
        margin-top: 0;
        height: var(--pfy-mobile-footer-height, #{$mobile-footer-height});
        padding-top: calc((var(--pfy-mobile-footer-height, #{$mobile-footer-height}) -
                           var(--pfy-mobile-footer-txt-size, #{$mobile-footer-font-size})) * 0.25);
        z-index: 9;
    }

    .pfy-footer * {
        color: #{$mobile-header-txt-color};
        color: var(--pfy-mobile-footer-txt-color, #{$mobile-header-txt-color});
        font-size: #{$mobile-footer-font-size};
        font-size: var(--pfy-mobile-footer-txt-size, #{$mobile-footer-font-size});
        border-bottom: none;
    }

    .pfy-mobile-page-header {
        display: block;
        z-index: 2;
    }

    .pfy-primary-nav {
        position: relative;
    }

    &#pfy .pfy-nav {
        .pfy-nav-label {
            display: inline-block;
            overflow-x: hidden;
        }

        &.pfy-nav-primary a {
            background: #4f4f4f;
            margin-bottom: 1px !important;
        }
    }

    .pfy-primary-nav.pfy-nav-wrapper {
        min-height: 200vh;
    }


    .pfy-large-screen-only {
        display: none;
    }

} // pfy-small-screen

