/* === Lzy-Buttons ========================= */

#lzy.lzy-default-styling .lzy-encapsulated,
.lzy-default-styling {

    .Xlzy-icon-external {
        position: relative;
        padding-left: 1.1em;
        &::before {
            content: '';
            background-image: url(../../../../assets/pagefactory/svg-icons/external.svg);
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            height: 1em;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
    .lzy-link {
        white-space: nowrap;
    }

    .lzy-link-icon {
        position: relative;
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 0.3em;
    }
    .lzy-link svg {
        width: 1em;
        height: 1em;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .lzy-icon-trailing .lzy-link-icon {
        margin-right: 0;
        margin-left: 0.3em;
    }
    .lzy-link-download .lzy-link-icon {
        transform: translateY(0.1em);
    }
} // lzy-default-styling
