/* === Lzy-Buttons ========================= */

#lzy.lzy-default-styling .lzy-encapsulated,
.lzy-default-styling {

    .lzy-link {
        white-space: nowrap; // avoid line-break between icon and link-text
    }
    .lzy-link-text {
        white-space: normal;
    }
    .lzy-link-icon {
        margin-right: 0.25em;
    }
    .lzy-icon-trailing .lzy-link-icon {
        margin-right: 0;
        margin-left: 0.25em;
    }
    .lzy-link-download .lzy-link-icon {
        transform: scale(1.2);
    }
} // lzy-default-styling
