/***************************
**  Styles for macro nav()
****************************/

@import '--definitions.scss';

//=== Defaults:
// dimensions:
$nav-txt-size: 12pt;
$nav-elem-height: 2em;
$nav-line-height: 1.2em;	// -> space between wrapped lines
$nav-sub-width: 10em;


// colors general:
$nav-txt-color: inherit;
$nav-bg-color: transparent;	// -> bg of nav-block
$nav-elem-bg-color: #eee;

// sub-elements / dropdown:
$nav-sub-txt-color: inherit;
$nav-sub-bg-color: #ddd;

// current:
$nav-curr-txt-color: #ddd;
$nav-curr-bg-color:  #444;

// hover:
$nav-hover-txt-color: #000;
$nav-hover-bg-color: #ddd;



// mobile nav:
$mobile-nav-font-size:    5vw;
$mobile-nav-txt-color:    #ddd;
$mobile-nav-bg-color:     #333;
$mobile-nav-title-indent: 20px;
$mobile-nav-first-indent: 20px;
$mobile-nav-indent-step:  20px;
$mobile-nav-width:        18rem;
$mxCorr: 1.8em;



// lzy-nav-top-horizontal:
$nav-top-horizontal-col-gap: 10px;
$nav-top-horizontal-padding: 0.5em;
$nav-top-horizontal-first-indent: 1.25em;
$nav-top-horizontal-indent-step: 1.25em;

// lzy-nav-accordion:
$nav-collapse-speed: 0.2s;

// lzy-nav-indented-no-arrow:
$nav-first-indent: 1em;
$nav-indent-step: 1.2em;

//=== in-page nav:
$in-page-first-indent: 0em;
$in-page-indent-step: 1em;





$slidedownX2: var(--lzy-nav-top-horizontal-first-indent, #{$nav-top-horizontal-first-indent});
$slidedownX3: calc(var(--lzy-nav-top-horizontal-first-indent, #{$nav-top-horizontal-first-indent}) + var(--lzy-nav-top-horizontal-indent-step, #{$nav-top-horizontal-indent-step}));
$slidedownX4: calc(var(--lzy-nav-top-horizontal-first-indent, #{$nav-top-horizontal-first-indent}) + 2 * var(--lzy-nav-top-horizontal-indent-step, #{$nav-top-horizontal-indent-step}));
$slidedownX5: calc(var(--lzy-nav-top-horizontal-first-indent, #{$nav-top-horizontal-first-indent}) + 3 * var(--lzy-nav-top-horizontal-indent-step, #{$nav-top-horizontal-indent-step}));
$slidedownX6: calc(var(--lzy-nav-top-horizontal-first-indent, #{$nav-top-horizontal-first-indent}) + 4 * var(--lzy-nav-top-horizontal-indent-step, #{$nav-top-horizontal-indent-step}));


// === Generic Nav ===================

#lzy.lzy-default-styling .lzy-nav-wrapper,
.lzy-default-styling .lzy-nav-wrapper {
    position: relative;
    .lzy-nav-menu-button {
        display: none;
    }

    .lzy-nav a:focus-visible {
        box-shadow: inset 0 0 0 1px black, inset 0 0 0 2px white, inset 0 0 0 3px  #{$focus-color};
    }
} // .lzy-nav-wrapper



#lzy.lzy-default-styling .lzy-encapsulated,
.lzy-default-styling {
    nav,
    &nav {
        ul {
            padding: 0;
        }
        li {
            list-style-type: none;
        }
    }



    .lzy-nav,
    &.lzy-nav {
        ol, li, a {
            display: block;
            padding: 0;
            margin: 0;
        }
        a {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12pt;
            font-size: var(--lzy-nav-txt-size, #{$nav-txt-size});
            line-height: 1.2em;
            line-height: var(--lzy-nav-line-height, #{$nav-line-height});
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-top: calc( (var(--lzy-nav-elem-height, #{$nav-elem-height}) - 1.2em) / 2);
            padding-bottom: calc( (var(--lzy-nav-elem-height, #{$nav-elem-height}) - 1.2em) / 2);
        }
        &.lzy-nav {
            :focus,
            a, a:visited, a:hover {
                border-bottom: none;
            }
        }
        .lzy-nav-label {
            display: inline-block;
        }
        .lzy-nav-arrow {
            display: none;
            user-select: none;
            cursor: s-resize;
            width: 1em;
            height: 1em;
            transform: rotate(-45deg) translate(0.1em, -0.1em);
            transform-origin: 72% 72%;
            font-size: 75%;
            > span {
                display: inline-block;
                width: 1em;
                height: 1em;
                transform: translate(0.1em, -0.1em);
            }
        }

        li.lzy-has-children > div {
            overflow: hidden;
        }


        // all:
        li {
            > a {
                color:      var(--lzy-nav-txt-color);
                background: var(--lzy-nav-elem-bg-color);
            }
        }

        // lzy-curr:
        .lzy-curr {
            > a {
                color:      var(--lzy-nav-curr-txt-color, var(--lzy-nav-txt-color));
                background: var(--lzy-nav-curr-bg-color, var(--lzy-nav-elem-bg-color));
            }
        }

        // lzy-active:
        .lzy-active {
            > a {
                color:      var(--lzy-nav-active-txt-color, var(--lzy-nav-txt-color));
                background: var(--lzy-nav-active-bg-color, var(--lzy-nav-elem-bg-color));
            }
        }
    } // generic .lzy-nav


    .lzy-nav-collapsed,
    &.lzy-nav-collapsed {
        .lzy-nav-arrow {
            display: inline-block;
            transform: rotate(-45deg) translate(0.2em, 0.1em);
            opacity: 1;
        }
        li.lzy-has-children > div > ol {
            margin-top: -10000px;
        }
        li.lzy-has-children.lzy-open > div > ol {
            margin-top: 0 !important;
        }
    }
    .lzy-nav-collapsible,
    &.lzy-nav-collapsible {
        li.lzy-has-children.lzy-open > div > ol {
            margin-top: 0 !important;
        }
    }


    .lzy-nav-hoveropen,
    &.lzy-nav-hoveropen {
        .lzy-hover ol {
            margin-top: 0 !important;
        }
    }


    .lzy-nav-indented,
    &.lzy-nav-indented { // no-arrow indentation:
        .lzy-lvl-1 {
            > a {
                padding-left: 1em;    // for IE
                padding-left: var(--lzy-nav-first-indent, #{$nav-first-indent});
            }
        }
        .lzy-lvl-2 {
            > a {
                padding-left: 2em;    // for IE
                padding-left: calc(var(--lzy-nav-first-indent, #{$nav-first-indent}) + var(--lzy-nav-indent-step, #{$nav-indent-step}));
            }
        }
        .lzy-lvl-3 {
            > a {
                padding-left: 3em;    // for IE
                padding-left: calc(var(--lzy-nav-first-indent, #{$nav-first-indent}) + 2 * var(--lzy-nav-indent-step, #{$nav-indent-step}));
            }
        }
        .lzy-lvl-4 {
            > a {
                padding-left: 4em;    // for IE
                padding-left: calc(var(--lzy-nav-first-indent, #{$nav-first-indent}) + 3 * var(--lzy-nav-indent-step, #{$nav-indent-step}));
            }
        }
        .lzy-lvl-5 {
            > a {
                padding-left: 5em;    // for IE
                padding-left: calc(var(--lzy-nav-first-indent, #{$nav-first-indent}) + 4 * var(--lzy-nav-indent-step, #{$nav-indent-step}));
            }
        }
        .lzy-lvl-6 {
            > a {
                padding-left: 6em;    // for IE
                padding-left: calc(var(--lzy-nav-first-indent, #{$nav-first-indent}) + 5 * var(--lzy-nav-indent-step, #{$nav-indent-step}));
            }
        }
    } // indentation


    .lzy-nav-animation-active,
    &.lzy-nav-animation-active {
        li.lzy-has-children {
            > div > ol {
                transition: margin-top var(--lzy-nav-collapse-speed, #{$nav-collapse-speed});
            }
        }
        .lzy-nav-arrow {
            transition: transform var(--lzy-nav-collapse-speed, #{$nav-collapse-speed});
        }
    } // animated


    .lzy-nav-colored,
    &.lzy-nav-colored {
        // generic:
        a:visited,
        a {
            color: #{$nav-txt-color}; // for IE
            color: var(--lzy-nav-txt-color, #{$nav-txt-color});
        }

        // focus and hover:
        &.lzy-nav-colored.lzy-nav-colored.lzy-nav-colored {
            a:focus-visible {
                color:      #{$nav-hover-txt-color};
                color:      var(--lzy-nav-focus-txt-color, var(--lzy-nav-hover-txt-color, #{$nav-hover-txt-color}));
                background: #{$nav-hover-bg-color};
                background: var(--lzy-nav-focus-bg-color,  var(--lzy-nav-hover-bg-color,  #{$nav-hover-bg-color}));
            }
            a:hover {
                color:      #{$nav-hover-txt-color};
                color:      var(--lzy-nav-hover-txt-color, #{$nav-hover-txt-color});
                background: #{$nav-hover-bg-color};
                background: var(--lzy-nav-hover-bg-color,  #{$nav-hover-bg-color});
            }
        }

        // lzy-curr:
        .lzy-curr {
            > a {
                color:      #{$nav-curr-txt-color};
                color:      var(--lzy-nav-curr-txt-color, var(--lzy-nav-txt-color, #{$nav-curr-txt-color}));
                background: #{$nav-curr-bg-color};
                background: var(--lzy-nav-curr-bg-color,  #{$nav-curr-bg-color});
            }
        }

        // lzy-active:
        .lzy-active {
            > a {
                color:      #{$nav-txt-color};
                color:      var(--lzy-nav-active-txt-color, var(--lzy-nav-txt-color, #{$nav-txt-color}));
                background: #{$nav-sub-bg-color};
                background: var(--lzy-nav-active-bg-color,  #{$nav-sub-bg-color});
            }
        }


        // nav block:
        > ol {
            background: var(--lzy-nav-bg-color, transparent);
        }

        // level dependent:
        .lzy-lvl-1 {
            > a {
                background: #{$nav-elem-bg-color};
                background: var(--lzy-nav-elem-bg-color, #{$nav-elem-bg-color});
            }
        }
        .lzy-lvl-2 a {
            color: black;
            color: var(--lzy-nav-sub-txt-color, var(--lzy-nav-txt-color, currentColor) );
            background: #{$nav-sub-bg-color};
            background: var(--lzy-nav-sub-bg-color, #{$nav-sub-bg-color});
        }

        &:not(.lzy-nav-top-horizontal) {
            a {
                border-left: 3px solid transparent;
            }
            a:hover {
                border-left: 3px solid orange;
            }
            &.lzy-curr > a,
            .lzy-curr > a {
                border-left: 3px solid red;
            }
        }
    } // lzy-nav-colored


    // === Top Nav
    .lzy-nav-top-horizontal,
    &.lzy-nav-top-horizontal {
        // while in touch mode, the parent element can't be activated as it is reserved for opening/closing the accordion
        // thus we need to repeat that element in the text sub-menu, but hide it while not in touch mode:
        .lzy-nav-title {
            display: none;
        }
        // default color & background (opt. overridden by lzy-nav-colored):
        .lzy-lvl-2 a {
            color: var(--lzy-nav-sub-txt-color, var(--lzy-nav-txt-color, currentColor) );
            background: var(--lzy-nav-sub-bg-color, white);
        }

        li {
            vertical-align: top;
        }

        a,
        ol,
        div {
            font-size: 12pt;
            font-size: var(--lzy-nav-txt-size, #{$nav-txt-size});
        }

        a {
            padding-right: 2em;
            padding-right: var(--lzy-nav-top-horizontal-padding, #{$nav-top-horizontal-padding});
        }

        .lzy-nav-arrow {
            display: inline-block;
        }

        ol {
            margin: 0;
            padding: 0;
        }

        > ol {
            font-size: 0;
        }

        li {
            vertical-align: top;
            position: relative;
            margin: 0;
        }

        .lzy-lvl-1 {
            display: inline-block;
            margin: 0 2em 0 0;
            margin-right: var(--lzy-nav-top-horizontal-col-gap, #{$nav-top-horizontal-col-gap});

            > a {
                border-left: none;
            }

            > a {
                display: inline-block;
            }

            &:last-child {
                margin-right: 0;
            }

            &.lzy-has-children {
                > div {
                    position: absolute;
                    top: 100%; // push below top level elem
                    left: 0;
                    width: #{$nav-sub-width};
                    width: var(--lzy-nav-sub-width, #{$nav-sub-width});
                    z-index: 102;
                    overflow: hidden;
                }
            }
        }

        .lzy-lvl-2 {
            a {
                margin-bottom: 1px;
            }
        }

        &.lzy-nav-colored div {
            background: white;
        }

        &:not(.lzy-nav-indented) {
            a {
                padding-left: #{$slidedownX2};
            }
        }

        &.lzy-nav-indented {
            .lzy-lvl-1 > a {
                padding-left: var(--lzy-nav-top-horizontal-padding, #{$nav-top-horizontal-padding});
            }

            .lzy-lvl-2 .lzy-nav-arrow {
                display: none;
            }

            .lzy-lvl-2 > a {
                padding-left: 1em;
                padding-left: #{$slidedownX2};
            }

            .lzy-lvl-3 > a {
                padding-left: 2em;
                padding-left: #{$slidedownX3};
            }

            .lzy-lvl-4 > a {
                padding-left: 3em;
                padding-left: #{$slidedownX4};
            }

            .lzy-lvl-5 > a {
                padding-left: 4em;
                padding-left: #{$slidedownX5};
            }

            .lzy-lvl-6 > a {
                padding-left: 5em;
                padding-left: #{$slidedownX6};
            }
        }

        .lzy-nav-arrow {
            padding: 0 0.4em 0 0.1em;
            transform: rotate(45deg) translate(0.1em, -0.1em);
        }

        .lzy-nav-heading {
            display: inline-block;
            font-size: 12pt;
            font-size: var(--lzy-nav-txt-size, #{$nav-txt-size});
            padding-left: var(--lzy-nav-top-horizontal-padding, #{$nav-top-horizontal-padding});
            vertical-align: top;
        }

    } // lzy-nav-top-horizontal



    // === Vertical nav:
    .lzy-nav-vertical,
    &.lzy-nav-vertical {
        .lzy-nav-collapsible,
        &.lzy-nav-collapsible,
        .lzy-nav-collapsed,
        &.lzy-nav-collapsed {
            .lzy-nav-arrow {
                display: inline-block;
                transform: rotate(-45deg) translate(0.2em, 0.1em);
                position: absolute;
                top: 0.4em;
            }
        }

        .lzy-hover,
        .lzy-open {
            > a > span.lzy-nav-arrow {
                transform: rotate(45deg) translate(0.2em, 0.1em);
            }
        }
        a:visited,
        a {
            position: relative;
            .lzy-nav-label {
                display: block;
                hyphens: auto;
                text-overflow: ellipsis;
                overflow-x: hidden;
                width: 100%;
            }
        }
        .lzy-lvl-1 > a {
            padding-left: 2em;
            padding-left: calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) );
            .lzy-nav-arrow {
                left: 1em;
                left: calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) - 1em );
            }
        }
        .lzy-lvl-2 > a {
            padding-left: 3em;
            padding-left: calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) + var(--lzy-mobile-nav-indent-step, #{$mobile-nav-indent-step}));
            .lzy-nav-arrow {
                left:     2em;
                left:     calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) + var(--lzy-mobile-nav-indent-step, #{$mobile-nav-indent-step}) - 1em );
            }
        }
        .lzy-lvl-3 > a {
            padding-left: 4em;
            padding-left: calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) + 2 * var(--lzy-mobile-nav-indent-step, #{$mobile-nav-indent-step}));
            .lzy-nav-arrow {
                left:     3em;
                left:     calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) + 2 * var(--lzy-mobile-nav-indent-step, #{$mobile-nav-indent-step}) - 1em );
            }
        }
        .lzy-lvl-4 > a {
            padding-left: 5em;
            padding-left: calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) + 3 * var(--lzy-mobile-nav-indent-step, #{$mobile-nav-indent-step}));
            .lzy-nav-arrow {
                left:     4em;
                left:     calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) + 3 * var(--lzy-mobile-nav-indent-step, #{$mobile-nav-indent-step}) - 1em );
            }
        }
        .lzy-lvl-5 > a {
            padding-left: 6em;
            padding-left: calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) + 4 * var(--lzy-mobile-nav-indent-step, #{$mobile-nav-indent-step}));
            .lzy-nav-arrow {
                left:     5em;
                left:     calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) + 4 * var(--lzy-mobile-nav-indent-step, #{$mobile-nav-indent-step}) - 1em );
            }
        }
        .lzy-lvl-6 > a {
            padding-left: 7em;
            padding-left: calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) + 5 * var(--lzy-mobile-nav-indent-step, #{$mobile-nav-indent-step}));
            .lzy-nav-arrow {
                left:     6em;
                left:     calc(var(--lzy-mobile-nav-first-indent, #{$nav-first-indent}) + 5 * var(--lzy-mobile-nav-indent-step, #{$mobile-nav-indent-step}) - 1em );
            }
        }
    } // vertical nav


    //// mobile nav:
    //.lzy-small-screen-nav {
    //    position: absolute;
    //    top: 3em;
    //    left: 0;
    //    background: transparent;
    //    background: var(--mobile-nav-bg-color, #{$mobile-nav-bg-color});
    //    color: var(--mobile-nav-txt-color, #{$mobile-nav-txt-color});
    //}


/* for later use:
    //=== in-page nav:
    &.lzy-in-page-nav,
    .lzy-in-page-nav {
        ol {
            padding: 0;
        }
        li {
            list-style: none;
            display: block;
        }
        .H1 {
            padding-left: 1em;
            margin-left: var(--lzy-in-page-first-indent, #{$in-page-first-indent});
        }
        .H2 {
            padding-left: 2em;
            margin-left: calc(var(--lzy-in-page-first-indent, #{$in-page-first-indent}) + var(--lzy-in-page-indent-step, #{$in-page-indent-step}));
        }
        .H3 {
            padding-left: 3em;
            margin-left: calc(var(--lzy-in-page-first-indent, #{$in-page-first-indent}) + 2 * var(--lzy-in-page-indent-step, #{$in-page-indent-step}));
        }
        .H4 {
            padding-left: 4em;
            margin-left: calc(var(--lzy-in-page-first-indent, #{$in-page-first-indent}) + 3 * var(--lzy-in-page-indent-step, #{$in-page-indent-step}));
        }
        .H5 {
            padding-left: 5em;
            margin-left: calc(var(--lzy-in-page-first-indent, #{$in-page-first-indent}) + 4 * var(--lzy-in-page-indent-step, #{$in-page-indent-step}));
        }
        .H6 {
            padding-left: 6em;
            margin-left: calc(var(--lzy-in-page-first-indent, #{$in-page-first-indent}) + 5 * var(--lzy-in-page-indent-step, #{$in-page-indent-step}));
        }
    } // lzy-in-page-nav




    //=== breadcrumb:
    &.lzy-nav-breadcrumb,
    .lzy-nav-breadcrumb {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            margin: 0;
            padding: 0;
        }
        .lzy-nav-breadcrumb-separator {
            position: relative;
            display: inline-block;
            width: 1.6em;
            text-align: center;
            font-family: Impact, Charcoal, sans-serif;
            opacity: 0.6;
        }
    } // lzy-nav-breadcrumb
*/

} // lzy-encapsulated


